p{
    background-color: rgb(184, 246, 163);
    font-size: 20px;
}

a{ 
    background-color: rosybrown;
}

div{
    background-color: rgb(143, 195, 126);
    font-size: 20px;
}

span{
    background-color: rgb(164, 126, 195);
    font-size: 20px;
}

